@model QLSVNgoaiTru.Models.dichvu
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_LayoutCNT.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/ChuNT">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/ChuNT/Service">Danh sách dịch vụ</a>
    </li>
    <li class="breadcrumb-item">Thêm dịch vụ</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        Thêm dịch vụ
    </div>
    <div class="card-body">
        <div class="col-md-8">
            @using (Html.BeginForm("AddService", "ChuNT", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Tên dịch vụ: </label>
                    @*<input type="text" class="form-control" placeholder="Tên dịch vụ">*@
                    @Html.EditorFor(model => model.TenloaiDV, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenloaiDV, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Đơn vị tính: </label>
                    @Html.EditorFor(model => model.Donvitinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Donvitinh, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Đơn giá: </label>
                    @Html.EditorFor(model => model.Dongia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dongia, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Hình thức thanh toán: </label>
                    @Html.EditorFor(model => model.Hinhthucthanhtoan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hinhthucthanhtoan, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Thời điểm thanh toán: </label>
                    @Html.EditorFor(model => model.Thoidiemthanhtoan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Thoidiemthanhtoan, "", new { @class = "text-danger" })
                </div>
                <div class="pb-2">
                    <input id="accept" type="checkbox" class="form-control" placeholder="Quy định" style="display:inline; width: 5%" onclick="acceptLic();"></input>
                    <p style="display:inline">Tôi chấp nhận những quy định.</p>
                </div>
                <div class="form-group">
                    <input id="submit" type="submit" value="Lưu" class="btn btn-success" />
                    <button class="btn btn-secondary"><a href="/ChuNT/Service" style="text-decoration:none;color:white"> Quay về</a></button>
                </div>
            }
        </div>
        
    </div>

