@using QLSVNgoaiTru.Models
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutCNT.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">Dịch vụ</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        <div class="float-left">
            <i class="fas fa-table"></i>Danh sách dịch vụ
        </div>
        <div class="float-right">
            @Html.ActionLink("Thêm", "AddService", "ChuNT", null, new { @class = "btn btn-success" })
            <a class="btn btn-danger text-white text-white" data-toggle="modal" data-target="#deleteModal">Xóa chọn</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã dịch vụ</th>
                        <th>Tên dịch vụ</th>
                        <th>Đơn vị tính</th>
                        <th>Giá</th>
                        <th>Hình thức thanh toán</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã dịch vụ</th>
                        <th>Tên dịch vụ</th>
                        <th>Đơn vị tính</th>
                        <th>Giá</th>
                        <th>Hình thức thanh toán</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var dichvu in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="checkbox"></td>
                            <td>@dichvu.MaloaiDV</td>
                            <td>@dichvu.TenloaiDV</td>
                            <td>@dichvu.Donvitinh</td>
                            <td>@dichvu.Dongia</td>
                            <td>@dichvu.Hinhthucthanhtoan</td>
                            <td>
                                @Html.ActionLink("Sửa", "EditService", "ChuNT", null, new { @class = "btn btn-info m-1" })
                                <a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

