@model QLSVNgoaiTru.Models.CustomObject
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutDangky.cshtml";
}

<h1 class="mt-4 mb-3">
    Thông tin phòng
</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">Thông tin phòng @Html.DisplayFor(model => model.phongtro.Sophong)</li>
</ol>
<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-6 h-75">
        <img class="img-fluid w-100 h-50" alt="" src="~/images/phongtro/@Html.DisplayFor(model => model.phongtro.Images)" />

        <h5 class="my-4">Hình ảnh liên quan</h5>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Phòng số:  @Html.DisplayFor(model => model.phongtro.Sophong)</h2>
        <h3 class="my-3">Thông tin phòng</h3>
        <p> @Html.DisplayFor(model => model.phongtro.Mota)</p>
        <h3 class="my-3">Nội quy</h3>
        <p> @Html.DisplayFor(model => model.phongtro.Noiquyphongtro)</p>
        <h3 class="my-3">Thông tin liên hệ</h3>
        <p> @Html.DisplayFor(model => model.chunhatro.Tenchunhatro)</p>
        <p> SDT: @Html.DisplayFor(model => model.chunhatro.SDT)</p>
    </div>

</div>
<!-- /.row -->
<!--
<div class="row">
    <div class="col-lg-8 mb-4">
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
    </div>
    <div class="col-lg-4 mb-4">
        <h3>Contact Details</h3>
        <p>
            3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
        </p>
        <p>
            <abbr title="Phone">P</abbr>: (123) 456-7890
        </p>
        <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:name@example.com">
                name@example.com
            </a>
        </p>
        <p>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
        </p>
    </div>
</div>-->
<!-- Related Projects Row -->
<h3 class="my-4">Phòng cùng giá</h3>
<div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>
</div>

