@model IEnumerable<QLSVNgoaiTru.Models.phongtro>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!--
<div class="row pt-5">
    <div class="col-md-8"><h2>Tin mới</h2></div>
    <div class="col-md-4 text-right"><a href="@Url.Action("MoreNews", "Home")">Xem thêm >></a></div>
</div>
<hr>
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Tin 1</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Tin 2</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque</p>
            </div>

        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Tin 3</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>

        </div>
    </div>
</div>-->
<!-- /.row -->
<!-- Portfolio Section -->
<div class="row pt-5">
    <div class="col-md-8"><h2>Danh sách phòng mới</h2></div>
    <div class="col-md-4 text-right"><a href="@Url.Action("MoreRooms", "Home")">Xem thêm >></a></div>
</div>

<hr>
<div class="row">
    @foreach (var phong in Model)
    {
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <div id="hinhanh" style="width:100%;height:300px">
                    <a href="@Url.Action("Detail", "Home", new {id = phong.Maphongtro })">
                        <img class="img-fluid" alt="" src="@Url.Content("~/images/phongtro/" + phong.Images)" style="width:100%;height:300px;object-fit: cover;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Phòng số: <a href="#">@phong.Sophong</a>
                    </h4>
                    <p class="card-text">Địa chỉ: @phong.Diachi</p>
                    <a href="@Url.Action("Detail", "Home", new {id = phong.Maphongtro })">Xem chi tiết >>>>>>>></a>
                </div>
            </div>
        </div>
    }
</div>
