@model QLSVNgoaiTru.Models.chunhatro

@{
    ViewBag.Title = "CNTDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/Admin/Chunhatro">Danh sách chủ nhà trọ</a>
    </li>
    <li class="breadcrumb-item">Chi tiết chủ nhà trọ</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        Thông tin chủ nhà trọ
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/images/chunhatro/" + Model.Imagees)" style="width:50%;" />
            </div>
            <div class="col-md-8">
                <label>Tên:</label><p class="pl-1" style="display: inline;">@Model.Tenchunhatro</p><br>
                <label>SĐT:</label><p class="pl-1" style="display: inline;">@Model.SDT</p><br>
                <label class="pb-5">Hộ khẩu:</label><p class="pl-1" style="display: inline;">@Model.Hokhau</p><br>
                @Html.ActionLink("Sửa", "SuaChunhatro", "Admin", new { id = Model.Machunhatro }, new { @class = "btn btn-info m-1" })
                @Html.ActionLink("Xóa", "XoaChunhatro", "Admin", new { id = Model.Machunhatro }, new { @class = "btn btn-danger text-white m-1", @onclick = "return confirm('Bạn muốn xóa user này?');" })
            </div>
        </div>
    </div>
</div>
<div class="card mb-5">
    <div class="card-header">
        <div class="float-left">
            <i class="fas fa-table"></i>Danh sách phòng
        </div>
        <div class="float-right">

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã phòng</th>
                        <th>Mô tả</th>
                        <th>Giá</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã phòng</th>
                        <th>Mô tả</th>
                        <th>Giá</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var phongtro in ViewBag.chitietcnt.pt)
                    {
                        <tr>
                            <td><input type="checkbox" class="checkbox"></td>
                            <td>@phongtro.Maphongtro</td>
                            <td>@phongtro.Mota</td>
                            <td>@phongtro.Tiendatcoc</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card mb-5">
    <div class="card-header">
        <div class="float-left">
            <i class="fas fa-table"></i>Danh sách dịch vụ
        </div>
        <div class="float-right">

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã dịch vụ</th>
                        <th>Loại dịch vụ</th>
                        <th>Giá</th>
                        <th>Ngày đóng</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã dịch vụ</th>
                        <th>Loại dịch vụ</th>
                        <th>Giá</th>
                        <th>Ngày đóng</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var dichvu in ViewBag.chitietcnt.ctdv)
                    {
                        <tr>
                            <td><input type="checkbox" class="checkbox"></td>
                            <td>@dichvu.MaCTDV</td>
                            <td>
                                @foreach (var dv in ViewBag.loaidichvu)
                                {
                                    if (dv.MaloaiDV == dichvu.MaloaiDV)
                                    {@dv.TenloaiDV}
                                }
                                                    </td>
                            <td>@dichvu.Dongia</td>
                            <td>@dichvu.ThoiGianThanhToan</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</div>

