@model QLSVNgoaiTru.Models.ChiTietSinhVien
@{
    /**/

    ViewBag.Title = "CTSinhVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="Index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="Sinhvien">Danh sách sinh viên</a>
    </li>
    <li class="breadcrumb-item">Chi tiết sinh viên</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        Thông tin sinh viên
    </div>
    <div class="card-body">
        <div class="row">
                <div class="col-md-4">
                    <img src="@Url.Content("~/images/sv/" + Model.sv.Images)" style="width:50%;" />
                </div>
                <div class="col-md-8">
                    <label>MSSV:</label><p class="pl-1" style="display: inline;">@Model.sv.Masv</p><br>
                    <label>Tên:</label><p class="pl-1" style="display: inline;">@Model.sv.Tensv</p><br>
                    <label>Giới tính:</label><p class="pl-1" style="display: inline;">@Model.sv.Gioitinh</p><br>
                    <label>Địa chỉ:</label><p class="pl-1" style="display: inline;">@Model.sv.Diachi</p><br>
                    <label>SĐT:</label><p class="pl-1" style="display: inline;">@Model.sv.SDT</p><br>
                    <label>Quên quán:</label><p class="pl-1" style="display: inline;">@Model.sv.Quequan</p><br>
                    <label>Khoa:</label><p class="pl-1" style="display: inline;">@Model.k.Tenkhoa</p><br>
                    <label>Lớp:</label><p class="pl-1" style="display: inline;">@Model.cl.Tenlop</p><br>
                    <label>Khoá:</label><p class="pl-1" style="display: inline;">@Model.sv.Nienkhoa</p><br>
                    <label class="pb-5">Hộ khẩu:</label><p class="pl-1" style="display: inline;">HK</p><br>
                    @Html.ActionLink("Sửa", "SuaSinhVien", "Admin", new { id = Model.sv.Masv }, new { @class = "btn btn-info m-1" })
                    @Html.ActionLink("Xóa", "XoaSinhVien", "Admin", new { id = Model.sv.Masv }, new { @class = "btn btn-danger text-white m-1", @onclick = "return confirm('Bạn muốn xóa sinh viên này?');" })

                </div>
        </div>
    </div>
</div>
<div class="card mb-5">
    <div class="card-header">
        <div class="float-left">
            <i class="fas fa-table"></i>Danh sách phiếu
        </div>
        <div class="float-right">

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h4>Phiếu đăng kí tìm phòng trọ</h4>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var dktpt in ViewBag.danhsachphieu.dktpt)
                    {
                        <tr>
                            <td>@dktpt.Madangkytimnhatro</td>
                            <td>@dktpt.Ngaylap</td>
                            <td>
                                @if (@dktpt.TrangThai == 1)
                                {<p>Đã Duyệt</p>}
                                else
                                { <p>Chưa duyệt</p>}
                            </td>
                            <td>
                                @if (@dktpt.TrangThai == 0)
                                {@Html.ActionLink("Duyệt", "DuyetDkTimPhongTro", "Admin", new { id = dktpt.Madangkytimnhatro }, new { @class = "btn btn-warning text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })}
                                @Html.ActionLink("Chi tiết", "CTDkTimPhongTro", "Admin", new { id = dktpt.Madangkytimnhatro }, new { @class = "btn btn-info text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h4>Phiếu thay đổi địa chỉ</h4>
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var tddc in ViewBag.danhsachphieu.tddc)
                    {
                        <tr>
                            <td>@tddc.Maphieuthaydoidiachi</td>
                            <td>@tddc.Ngaythaydoidiachi</td>
                            <td>
                                @if (@tddc.TrangThai == 1)
                                {<p>Đã Duyệt</p>}
                                else
                                { <p>Chưa duyệt</p>}
                            </td>
                            <td>
                                @if (@tddc.TrangThai == 0)
                                {@Html.ActionLink("Duyệt", "DuyetDkthaydoidiachi", "Admin", new { id = tddc.Maphieuthaydoidiachi }, new { @class = "btn btn-warning text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })}
                                @Html.ActionLink("Chi tiết", "CTDkthaydoidiachi", "Admin", new { id = tddc.Maphieuthaydoidiachi }, new { @class = "btn btn-info text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h4>Phiếu xác nhận thông tin ngoại trú</h4>
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var xnttnt in ViewBag.danhsachphieu.xnttnt)
                    {
                        <tr>
                            <td>@xnttnt.Maphieuxacnhan</td>
                            <td>@xnttnt.Ngaylap</td>
                            <td>
                                @if (@xnttnt.TrangThai == 1)
                                {<p>Đã Duyệt</p>}
                                else
                                { <p>Chưa duyệt</p>}
                            </td>
                            <td>
                                
                                @Html.ActionLink("Chi tiết", "DuyetPhieuXacNhanThongTinNgoaiTru", "Admin", new { id = xnttnt.Maphieuxacnhan }, new { @class = "btn btn-info text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h4>Phiếu đăng ký ngoại trú</h4>
            <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var dknt in ViewBag.danhsachphieu.dknt)
                    {
                        <tr>
                            <td>@dknt.MaPDKNT</td>
                            <td>@dknt.Ngaylapphieu</td>
                            <td>
                                @if (@dknt.TrangThai == 1)
                                {<p>Đã Duyệt</p>}
                                else
                                { <p>Chưa duyệt</p>}
                            </td>
                            <td>
                                @if (@dknt.TrangThai == 0)
                                {@Html.ActionLink("Duyệt", "DuyetDKNgoaiTru", "Admin", new { id = dknt.MaPDKNT }, new { @class = "btn btn-warning text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })}
                                @Html.ActionLink("Chi tiết", "CTDKNgoaiTru", "Admin", new { id = dknt.MaPDKNT }, new { @class = "btn btn-info text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h4>Phiếu giới thiệu sinh viên ngoại trú</h4>
            <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var gtsvnt in ViewBag.danhsachphieu.gtsvnt)
                    {
                        <tr>
                            <td>@gtsvnt.Maxacnhan</td>
                            <td>@gtsvnt.Ngaylap</td>
                            <td>
                                @if (gtsvnt.TrangThai == 1)
                                {<p>Đã Duyệt</p>}
                                else
                                { <p>Chưa duyệt</p>}
                            </td>
                            <td>
                                
                                @Html.ActionLink("Chi tiết", "DuyetPhieuGioiThieuSinhVienNgoaiTru", "Admin", new { id = gtsvnt.Maxacnhan }, new { @class = "btn btn-info text-white m-1" })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>

