@{
    ViewBag.Title = "Sinhvien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="Index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">Danh sách sinh viên</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        <div class="float-left">
            <i class="fas fa-user-circle"></i>Danh sách sinh viên
        </div>
        <div class="float-right">
            @Html.ActionLink("Thêm", "ThemSinhVien", "Admin", null, new { @class = "btn btn-success" })
            <a class="btn btn-danger text-white text-white" data-toggle="modal" data-target="#deleteModal">Xóa chọn</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã sinh viên</th>
                        <th>
                            Tên sinh viên
                        </th>
                        <th>
                            Giới tính
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Quên quán
                        </th>
                        <th>
                            Niên khóa
                        </th>
                        <th>
                            Lớp
                        </th>
                        <th>
                            Hình ảnh
                        </th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã sinh viên</th>
                        <th>
                            Tên sinh viên
                        </th>
                        <th>
                            Giới tính
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Quên quán
                        </th>
                        <th>
                            Niên khóa
                        </th>
                        <th>
                            Lớp
                        </th>
                        <th>
                            Hình ảnh
                        </th>

                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.danhsachsv)
                    {
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>
                            @item.sv.Masv
                        </td>
                        <td>
                            @item.sv.Tensv
                        </td>
                        <td>
                            @item.sv.Gioitinh
                        </td>
                        <td>
                            @item.sv.Diachi
                        </td>
                        <td>
                            @item.sv.SDT
                        </td>
                        <td>
                            @item.sv.Quequan
                        </td>
                        <td>
                            @item.sv.Nienkhoa
                        </td>
                        <td>
                            @item.cl.Tenlop
                        </td>
                        <td>
                            <img src="@Url.Content("~/images/sv/" + item.sv.Images)" style="width:100%;" />
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "CTSinhVien", "Admin", new { id = item.sv.Masv }, new { @class = "btn btn-info m-1" })
                        </td>
                    </tr>
                    }

                    </tbody>
            </table>
        </div>
    </div>
</div>
