@model QLSVNgoaiTru.Models.sinhvien
@{
    ViewBag.Title = "SuaSinhVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="admin-sinhvien.html">Danh sách sinh viên</a>
    </li>
    <li class="breadcrumb-item">Sửa sinh viên</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        Sửa sinh viên
    </div>
    <div class="card-body">
        <div class="col-md-8">
            @using (Html.BeginForm("SuaSinhVien", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <form>
                @Html.HiddenFor(model => model.Masv)
                <div class="form-group">
                    <label>Tên: </label>
                    @Html.EditorFor(model => model.Tensv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tensv, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Năm sinh: </label>

                    <div class="input-group datepicker">
                        @Html.EditorFor(model => model.Namsinh, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Namsinh, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Giới tính: </label><br>
                    @Html.EditorFor(model => model.Gioitinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gioitinh, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <label>Địa chỉ: </label>
                    @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>SĐT: </label>
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Quê quán: </label>
                    @Html.EditorFor(model => model.Quequan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quequan, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Khóa: </label>
                    @Html.EditorFor(model => model.Nienkhoa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nienkhoa, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Lớp: </label>
                    @Html.DropDownListFor(model => model.Malop, new SelectList(ViewBag.Lop, "Malop", "Tenlop"), new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label>Hình ảnh: </label><br>
                    <input id="fileupload" name="fileupload" type="file" />
                    <br />
                    <img src="@Url.Content("~/images/sv/" + Model.Images)" style="width:200px;height:auto;" />
                    @ViewBag.Thongbao
                </div>
                <div class="pb-2">
                    <input type="checkbox" class="form-control" placeholder="Quy định" style="display:inline; width: 5%">
                    <p style="display:inline">Tôi chấp nhận những quy định.</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-success" />
                    @ViewBag.Thongbaosave
                    <button class="btn btn-secondary">Quay về</button>
                </div>
            </form>
            }

        </div>
    </div>

