@model IEnumerable<QLSVNgoaiTru.Models.phieuthaydoidiachi>

@{
    ViewBag.Title = "Dkthaydoidiachi";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="row pt-5">
    <div class="col-md-8"><h2>Danh sách phiếu thay đổi địa chỉ</h2></div>
</div>

<hr>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Mã phiếu</th>
            <th>Mã sinh viên</th>
            <th>Mã địa chỉ cũ</th>
            <th>Mã địa chỉ mới</th>
            <th>Ngày thay đổi</th>
            <th>Trạng thái</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Mã phiếu</th>
            <th>Mã sinh viên</th>
            <th>Mã địa chỉ cũ</th>
            <th>Mã địa chỉ mới</th>
            <th>Ngày thay đổi</th>
            <th>Trạng thái</th>
            <th>Chức năng</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var tddc in Model)
        {
        <tr>
            <td>@tddc.Maphieuthaydoidiachi</td>
            <td>@tddc.Masv</td>
            <td>@tddc.Diachicu</td>
            <td>@tddc.Diachimoi</td>
            <td>@tddc.Ngaythaydoidiachi</td>
            <td>@tddc.TrangThai</td>
            <td>
                @Html.ActionLink("Sửa", "SuaDkthaydoidiachi", "Sinhvien", new { id = tddc.Maphieuthaydoidiachi }, new { @class = "btn btn-info m-1" })
                @Html.ActionLink("Xóa", "XoaDkthaydoidiachi", "Sinhvien", new { id = tddc.Maphieuthaydoidiachi }, new { @class = "btn btn-danger text-white m-1", @onclick = "return confirm('Bạn muốn xóa phòng này?');" })
            </td>
        </tr>

        }

    </tbody>
</table>

